BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clock" SITE "50" ;
LOCATE COMP "clear" SITE "53" ;
LOCATE COMP "load" SITE "55" ;
LOCATE COMP "Data[0]" SITE "27" ;
LOCATE COMP "Data[1]" SITE "28" ;
LOCATE COMP "Data[2]" SITE "29" ;
LOCATE COMP "Data[3]" SITE "30" ;
LOCATE COMP "Data[4]" SITE "31" ;
LOCATE COMP "Data[5]" SITE "32" ;
LOCATE COMP "Q[0]" SITE "37" ;
LOCATE COMP "Q[1]" SITE "38" ;
LOCATE COMP "Q[2]" SITE "39" ;
LOCATE COMP "Q[3]" SITE "40" ;
LOCATE COMP "Q[4]" SITE "43" ;
LOCATE COMP "Q[5]" SITE "44" ;
LOCATE COMP "p" SITE "45" ;
IOBUF PORT "Data[0]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "Data[1]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "Data[2]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "Data[3]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "Data[4]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "Data[5]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "clear" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "A0" SITE "55" ;
LOCATE COMP "A1" SITE "56" ;
LOCATE COMP "Data[6]" SITE "35" ;
LOCATE COMP "clk" SITE "50" ;
LOCATE COMP "rst" SITE "53" ;
LOCATE COMP "Q[6]" SITE "45" ;
